.photo-card__delete-button {
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: url(../../../images/photo-delete.svg);
  width: 18px;
  height: 19px;
}

.photo-card__delete-button:hover {
  opacity: 0.5;
}