.form__submit-button {
  color: white;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  width: 100%;
  height: 50px;
  border: none;
}

@media screen and (max-width: 425px) {
  .form__submit-button {
    height: 46px;
    font-size: 14px;
  }
}
