.form__item {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 9px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}

.form__item::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__item:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 425px) {
  .form__item:last-of-type {
    margin-bottom: 43px;
  }
}


