.form__submit-button {
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: white;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  width: 100%;
  height: 50px;
}

.form__submit-button:hover {
  opacity: 0.8;
}

.form__submit-button:disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 12px 0 12px;
  cursor: not-allowed;
}


@media screen and (max-width: 425px) {
  .form__submit-button {
    height: 46px;
    font-size: 14px;
  }
}
