.profile__description {
  max-width: 360px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .profile__description {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    max-width: 282px;
    text-align: center;
    font-size: 14px;
  }
}