
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

.loading-screen__loader {
  height: 100px;
  width: 100px;
  animation: rotation 2s linear infinite;
}