.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 810px) {
  .profile__avatar {
    margin-bottom: 27px;
  }
}
