.form__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 46px;
}

@media screen and (max-width: 425px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 74px;

  }
}