@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/*Стили класса root*/
@import url(../blocks/root/root.css);

/*Стили класса page*/
@import url(../blocks/page/page.css);

/*Стили класса header*/
@import url(../blocks/header/header.css);

/*Стили класса content*/
@import url(../blocks/content/content.css);

/*Стили класса logo*/
@import url(../blocks/logo/logo.css);

/*Стили класса button*/
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_profile.css);
@import url(../blocks/button/_place/button_place_photo-card.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_like.css);
@import url(../blocks/button/_type/button_active_like.css);
@import url(../blocks/button/_opacity/button_opacity_more-transparent.css);

/*Стили класса profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);

/*Стили класса elements*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);

/*Стили класса photo-card*/
@import url(../blocks/photo-card/photo-card.css);
@import url(../blocks/photo-card/__image/photo-card__image.css);
@import url(../blocks/photo-card/__description/photo-card__description.css);
@import url(../blocks/photo-card/__title/photo-card__title.css);

/*Стили класса popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);

/*Стили класса form*/
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__fields/form__fields.css);
@import url(../blocks/form/__item/form__item.css);


/*Стили класса footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

















.button_place_popup {
  color: white;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  width: 100%;
  height: 50px;
  border: none;
}

@media screen and (max-width: 425px) {
  .button_place_popup {
    height: 46px;
    font-size: 14px;
  }
}


.button_type_close {
  background-image: url(../images/close-button.svg);
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 570px) {
  .button_type_close {
    right: 0px;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}